<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="nav">
        <button class="btn newTask" >New task</button>
    </div>
    <div class="container">
        <form class="form">
            <input class="title" type="text" id="title"  >
            <textarea class="description" type="text" id="description"></textarea >
            <button class="submit">Submit</button>
        </form>
        <div class="list">
            <h1 class="ListTitle">Tasks </h1>
            <div class="ListContainer">


            </div>
        </div>

    </div>
    <script src="../controller.js"> </script>
</body>
</html>